@import 'public.scss';
// @import 'reset.scss';

.tripInfo_hero {
    background-image: url('/src/assets/images/train_exterior/tripInfo_hero02.png');

}

main {
    @apply mx-auto my-7;
    // margin: 28px auto;
    @extend .fade;
}

// 行程頁籤
.itinerary {
    @apply mx-auto my-7 border-b-2 border-solid ;
    // margin: 28px auto;
    // border-bottom: 2px solid $gray_800;
    border-color: $gray_800;


    .top_nav ul {
        @apply text-center;
        // text-align: center;
    }

    .top_nav ul li {
        @apply inline-block;
        // display: inline-block;

        &:nth-of-type(even) {
            @apply mr-7;
            // margin-right: 28px;
        }

        &:last-of-type {
            @apply mr-0;
            // margin-right: 0px;
        }

        button {
            @apply  block no-underline border-b-0
            rounded-t-2xl px-4 py-2 cursor-pointer;
            @extend %body2;
            // display: block;
            // text-decoration: none;
            color: $secondary_50;
            background-color: $secondary_800;
            // border: 1px solid $gray_800;
            // border-bottom: none;
            // border-radius: 15px 15px 0 0;
            // padding: 8px 16px;
            // cursor: pointer;

            &:hover {
                background-color: $secondary_600;
            }
            span{
                @extend %h5;
            }
        }
    }
}

// 行程主題
.trip_title {
    @apply flex mx-auto my-14 md:flex-none;
    width: 1024px;
    // margin: 52px auto;
    // display: flex;

    >div:first-of-type {
        .dessert_type {
            @apply text-white p-3 mr-36;
            @extend %h3;
            background-color: $secondary_800;
            // color: white;
            // padding: 12px;
            // margin-right: 144px;
        }
       

        p {
            @apply mb-6;
            @extend %h4;
            // margin-bottom: 24px;
        }

        img {
            @apply border border-solid;
            // @extend .fade;
            width: 550px;
            height: 350px;
            // border: 1px solid $gray_800;
            border-color: $gray_800;

        }

    }

    div:last-of-type {
        // width: 550px;
        @apply mt-14 flex px-9 py-0 flex-col
        justify-between;
        // margin-top: 56px;
        // padding: 0 36px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        p {
            @extend %body;
        }

        button {
            @apply text-center no-underline h-14
            border border-solid cursor-pointer;
            // text-align: center;
            // text-decoration: none;
            @extend %btn_lg;
            background-color: $secondary_800;
            // height: 56px;
            color: $secondary_50;
            line-height: 56px;
            letter-spacing: 4px;
            // border: 1px solid $gray_800;
            border-color: $gray_800;
            // cursor: pointer;

            &:hover {
                background-color: $secondary_600;
            }
        }
    }

}

// 風景介紹
.view_info,
.dessert_info {
    width: 1024px;
    // margin: auto;
    @apply m-auto;



    h3 {
        @extend %h4;
        line-height: 32px;
        padding: 12px;
        // background-color: $main_400;
        background-color: $secondary_800;
        color: $secondary_50;
        // border-radius: 10px;
        height: 56px;
    }


    .view_info_content {
        width: 1024px;
        @apply flex m-auto gap-7;
        // display: flex;
        // margin: auto;
        // gap: 28px;

        // text
        >div:first-of-type {
            width: 50%;

            h5 {
                width: 450px;
                margin: 28px 12px 28px 0;
                border-bottom: 2px solid $gray_800;
                @extend %h6;

            }

            p {
                width: 450px;
                @extend %body;
                margin-bottom: 28px;
            }

            img {
                // @extend .fade;
                width: 450px;
                height: 393px;
                object-fit: cover;
                border: 1px solid $gray_800;
            }

        }

        // img
        >div:last-of-type {
            width: 50%;

            img {
                // @extend .fade;
                margin: 28px auto;
                // padding: 28px;
                width: 450px;
                height: 320px;
                border: 1px solid $gray_800;

                &:first-of-type {
                    position: relative;
                }

                &:last-of-type {
                    margin-top: -100px;
                    margin-left: 56px;
                    z-index: 0;
                }
            }
        }
    }

}

// 餐點介紹
.dessert_info {
    @apply mx-auto my-7;
    // margin: 28px auto;
    padding-bottom: 100px;

    >div {
        @apply flex;
        // display: flex;

    }

    .dessert_section {
        @apply flex flex-col justify-between gap-3;
        width: 50%;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // gap: 12px;

        h5 {
            @apply border-b-2 border-solid pt-7;
            @extend %h6;
            border-color: $gray_800;
            // border-bottom: 2px solid $gray_800;
            // padding-top: 28px;
        }

        span {
            @extend %body;
        }

        img {
            // @extend .fade;
            width: 100%;
            height: 450px;
            border: 1px solid $gray_800;
        }

        &:last-of-type {
            @apply pl-7;
            // padding-left: 28px;
        }
    }
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}