.background-circle {
  position: absolute;
  top: 0px;
  right: -100px;
  width: 100px; /* 根据需要调整大小 */
  height: 100px; /* 根据需要调整大小 */
  background-color: rgb(138,110,110); /* 或者其他颜色 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* 确保圆形在所有内容下面 */
}
.background-circle2 {
  position: absolute;
  bottom: 0; /* 确保紧贴底部 */
  right: -50px; /* 确保在右下角 */
  width: 100px; /* 根据需要调整大小 */
  height: 50px; /* 只设置高度为一半 */
  background-color: rgb(138, 110, 110); /* 或者其他颜色 */
  border-top-left-radius: 100px; /* 使左上角圆润 */
  border-top-right-radius: 100px; /* 使右上角圆润 */
  z-index: -1; /* 确保圆形在所有内容下面 */
}

.background-radius {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  width: 100%; /* 根据需要调整大小 */
  background-color: rgb(245, 245, 245); /* 或者其他颜色 */
  border-radius: 2%;
  z-index: -1; /* 确保圆形在所有内容下面 */
}