.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal-content {
  max-width: 100%; /* 最大寬度 */
  /* width: 600px;  */
  max-height: 90vh; /* 最大高度限制 */
  overflow-y: auto; /* 允許垂直滾動 */
  background-color: white; /* 背景顏色 */
  border-radius: 8px; /* 邊角圓滑 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 陰影效果 */
  padding: 20px; /* 內邊距 */
}

@media (min-width: 768px) {
  .modal {
    /* overflow-x: hidden; */
    width: 38rem;
    left: calc(50% - 10rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input::placeholder {
  color: rgb(187, 155, 155) !important;
}

input:focus {
  outline: none; /* 移除默认的轮廓 */
}

::-webkit-scrollbar {
  width: 8px; /* 垂直滚动条的宽度 */
}

::-webkit-scrollbar-track {
  background: rgb(138,110,110); /* 轨道背景颜色 */
  border-radius: 10px; /* 圆角 */
}

::-webkit-scrollbar-thumb {
  background: rgb(187,155,155); /* 滑块颜色 */
  border-radius: 10px; /* 圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255,245,245); /* 滑块 hover 时的颜色 */
}