.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  /* width: 90%; */
  height: auto;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input::placeholder {
  color: rgb(187, 155, 155) !important;
  position: absolute;
  /* 以下是為了讓placeholder固定在左上角 */
  left: 0px; 
  top: 8px; 
  transform: translateY(-50%); 
}

input:focus {
  outline: none; /* 移除默认的轮廓 */
}
