@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
.top {
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3%;
}

.top {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(182, 156, 124, 0.5);
  width: 56px;
  height: 48px;
  padding: 4px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-decoration: none;
  z-index:10;
  color: rgba(99, 74, 52, 0.5);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); /* 平邊朝上的六邊形 */
}
.top:hover{
  background-color: rgba(182, 156, 124, 1);
  color: rgba(99, 74, 52, 1);

}